body {
  background-color: rgb(184, 229, 235);
}
hr {
  border-color: grey;
  border-style: dotted none none;
  border-width: 6px;
  width: 6%;
}
h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
}
img {
  border-radius: 50%;
}
h1:hover, h3:hover{
color: #D23369;
}
